name: Publish to npm

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read
  id-token: write

concurrency:
  group: npm-publish-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org
          scope: "@winor30"
          always-auth: true
      - name: Setup pnpm
        run: npm install -g pnpm@10.24.0
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install buf CLI
        run: npm install -g @bufbuild/buf@1.56.0

      - name: Build package
        run: pnpm -C packages/ts-contract-plugin build

      - name: Publish package
        run: pnpm publish --filter @winor30/protoc-gen-ts-contract --workspace-root --provenance --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
